@import "tailwindcss";

@font-face {
	font-family: "Stardom";
	src: url("/Stardom-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Boska";
	src: url("/Boska-Variable.ttf") format("truetype");
}

@theme {
	--color-primary: var(--color-neutral-200);
	--font-serif: "Boska", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@layer base {
	:root {
	  @apply bg-neutral-900 text-primary font-serif;
	}

	h1 {
		@apply font-normal;
	}

	html, body, #app {
		@apply h-full;
	}

	#app {
		@apply p-10;
	}
}

